.box {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 47%;
    left: 47%;
    margin: 50px auto;
    z-index: 9999; /* 置于其他元素之上 */
}

    .box span {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #3498db;
        opacity: 0.5;
        border-radius: 100%;
        animation: anim 1s infinite ease-in-out;
    }

    .box > :nth-child(2) {
        left: 20px;
        animation-delay: 0.2s;
    }

    .box > :nth-child(3) {
        left: 40px;
        animation-delay: 0.4s;
    }

    .box > :nth-child(4) {
        left: 60px;
        animation-delay: 0.6s;
    }

    .box > :nth-child(5) {
        left: 80px;
        animation-delay: 0.8s;
    }

@keyframes anim {
    0% {
        opacity: 0.3;
        transform: translateY(0px);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
        background: #f9cdff;
    }

    100% {
        opacity: 0.3;
        transform: translateY(0px);
    }
}
/* 锁住页面的不可见遮罩层 */
#overlay {
    position: fixed; /* 固定在页面上 */
    top: 0; /* 从顶部开始 */
    left: 0; /* 从左边开始 */
    width: 100vw; /* 占据整个视口宽度 */
    height: 100vh; /* 占据整个视口高度 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景色 */
    z-index: 9998; /* 置于其他元素之上 */
    opacity: 0; /* 让它不可见 */
    pointer-events: all; /* 启用鼠标事件，阻止点击操作 */
}

/* 通用的提示消息样式 */
.message {
    position: fixed;
    top: -10px; /* 初始位置在视图上方 */
    left: 50%;
    color: #07C160;
    background-color: rgba(255, 255, 255); /* 半透明背景 */
    box-shadow: 0 4px 10px #cdffd0; /* 添加阴影效果 */
    border: 1px solid #cdffd0; /* 深绿色边框 */
    border-radius: 10px;
    transform: translateX(-50%);
    padding: 25px 40px;
    opacity: 0;
    transition: opacity 2s ease, transform 2s ease;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size:large;
}

    /* 显示提示消息时的状态 */
    .message.visible {
        opacity: 1;
        transform: translate(-50%, 50px); /* 向下滑动 */
    }

    /* 消失时回到初始状态 */
    .message.hidden {
        opacity: 0;
        transform: translate(-50%, -50px); /* 向上滑动 */
    }