.box {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 47%;
    left: 47%;
    margin: 50px auto;
    z-index: 9999; /* 置于其他元素之上 */
}

    .box span {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #3498db;
        opacity: 0.5;
        border-radius: 100%;
        animation: anim 1s infinite ease-in-out;
    }

    .box > :nth-child(2) {
        left: 20px;
        animation-delay: 0.2s;
    }

    .box > :nth-child(3) {
        left: 40px;
        animation-delay: 0.4s;
    }

    .box > :nth-child(4) {
        left: 60px;
        animation-delay: 0.6s;
    }

    .box > :nth-child(5) {
        left: 80px;
        animation-delay: 0.8s;
    }

@keyframes anim {
    0% {
        opacity: 0.3;
        transform: translateY(0px);
    }

    50% {
        opacity: 1;
        transform: translateY(-10px);
        background: #f9cdff;
    }

    100% {
        opacity: 0.3;
        transform: translateY(0px);
    }
}
/* 锁住页面的不可见遮罩层 */
#overlay {
    position: fixed; /* 固定在页面上 */
    top: 0; /* 从顶部开始 */
    left: 0; /* 从左边开始 */
    width: 100vw; /* 占据整个视口宽度 */
    height: 100vh; /* 占据整个视口高度 */
    background-color: rgba(0, 0, 0, 0.1); /* 半透明背景色 */
    z-index: 9998; /* 置于其他元素之上 */
    opacity: 0; /* 让它不可见 */
    pointer-events: all; /* 启用鼠标事件，阻止点击操作 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 背景色和字体颜色的过渡 */
}
 
/* 通用的提示消息样式 */
.message, .failMessage, .warningMessage {
    position: fixed;
    top: -200px; /* 初始位置在视图上方 */
    left: 50%;
    color: #07C160;
    background-color: #e9fceb;
    box-shadow: 0 2px 5px #e9fceb; /* 添加阴影效果 */
    border: 1px solid #e9fceb; /* 深绿色边框 */
    border-radius: 10px;
    transform: translateX(-50%);
    padding: 15px 30px;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: large;
}
.failMessage {
    color: #ff0000;
    background-color: #fde4e4;
    box-shadow: 0 2px 5px #fde4e4; /* 添加阴影效果 */
    border: 1px solid #fde4e4; /* 深绿色边框 */
}
.warningMessage {
    color: #bf9b00; /* 警告文字颜色，黄色 */
    background-color: #fef6d7; /* 警告背景颜色，浅黄色 */
    box-shadow: 0 2px 5px #fef6d7; /* 添加阴影效果 */
    border: 1px solid #fce58b; /* 边框颜色，稍深的黄色 */
}
/* 显示提示消息时的状态 */
    .message.visible, .failMessage.visible, .warningMessage.visible {
        opacity: 1;
        transform: translate(-50%, 250px); /* 向下滑动 */
    }

    /* 消失时回到初始状态 */
    .message.hidden, .failMessage.hidden, .warningMessage.hidden {
        opacity: 0;
        transform: translate(-50%, -150px); /* 向上滑动 */
    }

