body {
    background-color: white;
    padding: 20px;
}

/* 表格整体样式 */
table {
    margin: 20px 0;
    width: 100%; /* 表格宽度占满父容器 */
    border-collapse: collapse; /* 合并边框 */
    white-space: nowrap;
}

/* 表头样式 */
th {
    background-color: #f2f2f2; /* 背景颜色 */
    color: black; /* 字体颜色 */
    padding: 10px; /* 内边距 */
    text-align: left; /* 左对齐 */
    border: 1px solid #ddd; /* 单元格边框 */
}

/* 单元格样式 */
td {
    border: 1px solid #ddd; /* 单元格边框 */
    padding: 8px; /* 内边距 */
}

/* 奇数行背景色 */
tr:nth-child(odd) {
    background-color: #ffffff; /* 奇数行背景颜色 */

}

/* 鼠标悬停效果 */
tr:hover {
    background-color: #f2f2f2; /* 鼠标悬停时的背景颜色 */
}

/* 表格字体样式 */
td, th {
    font-family: Arial, sans-serif; /* 字体 */
    font-size: 14px; /* 字体大小 */
    justify-content: center;
    align-items: center; 
    text-align: center; /* 文本居中 */

}
button {
    background-color: #07C160; /* 按钮背景颜色 */
    color: rgb(255, 255, 255); /* 按钮文字颜色 */
    padding: 0 20px; /* 内边距 */
    text-align: center; /* 文本居中 */
    text-decoration: none; /* 去掉下划线 */
    display: inline-block; /* 使元素内联块 */
    font-size: 16px; /* 字体大小 */
    margin: 4px 2px; /* 外边距 */
    cursor: pointer; /* 鼠标样式 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角 */
    transition: background-color 0.3s; /* 过渡效果 */
    height: 30px;
    white-space: nowrap;
}

/* 悬停效果 */
button:hover {
    background-color: #009107; /* 悬停时的背景颜色 */
}
/* 点击效果 */
button:active {
    transform: scale(0.95); /* 按下时缩小 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 添加阴影 */
}
/* 设置输入框的基本样式 */
input{
    border: 1px solid rgb(194, 194, 194); /* 边框颜色 */
    border-radius: 5px; /* 圆角 */
    font-size: 16px; /* 字体大小 */
    color: gray; /* 文字颜色 */
    transition: border-color 0.3s, box-shadow 0.3s; /* 过渡效果 */
    font-size: small;
    height: 30px;
}

.bottom {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; /* 文本居中 */
    white-space: nowrap;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center; /* 文本居中 */
    white-space: nowrap;
}
/* 模态窗口的样式 */
.modal {
    position: fixed; /* 固定定位 */
    z-index: 1; /* 确保在其他元素之上 */
    left: 0;
    top: 0;
    width: 100%; /* 覆盖全屏 */
    height: 100%; /* 覆盖全屏 */
    overflow: auto; /* 滚动条处理 */
    background-color: rgba(0, 0, 0, 0.7); /* 半透明背景 */
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

/* 模态图片的样式 */
.modal-content {
    max-width: 70%; /* 图片最大宽度 */
    object-fit: contain; /* 保持图片比例 */
    margin: 0 auto; /* 保证图片在容器中居中 */
}

/* 关闭按钮的样式 */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

    /* 关闭按钮悬停效果 */
    .close:hover,
    .close:focus {
        color: red;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
    }

/* 默认状态：禁用输入框样式 */
input[disabled] {
    border: none; /* 无边框 */
    background-color: transparent; /* 背景透明 */
    color: inherit; /* 保持文字颜色一致 */
}

/* 编辑状态：显示边框或其他视觉效果 */
input.editing {
    border: none; /* 移除边框 */
    background-color: transparent; /* 背景透明 */
    outline: none; /* 移除聚焦时的轮廓 */
}
.saveBtn  {
    display: none; /* 默认隐藏保存按钮 */
}
.editBtn{
    color: #07C160;
    background-color: #f2f2f2;
}
/* 悬停效果 */
.editBtn:hover{
    background-color: #cfcfcf; /* 悬停时的背景颜色 */
}

